<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.github.treborrude.dolphintasker"
  android:versionCode="1"
  android:versionName="1.0" >

  <!-- locale-api library project requires targetSdk 17 -->
  <uses-sdk 
    android:minSdkVersion="8" 
    android:targetSdkVersion="17" />
  
  <!-- Allows Tasker to notice page started, page finished,
	   and title received events. -->
  <uses-permission android:name=
	"com.dolphin.browser.permission.ACCESS_WEB_PAGES" />
  <!-- Allows Tasker to react to and start downloads. -->
  <uses-permission android:name=
    "com.dolphin.browser.permission.MANAGE_DOWNLOADS" />
  
  <!-- Allows Tasker to search history and notice when history
	   changes happen (though that doesn't seem too useful, since
	   Dolphin only tells the observer that something happened, not
	   WHAT happened. -->
  <!-- <uses-permission android:name=
	      "com.dolphin.browser.permission.READ_HISTORY" /> -->
  <!-- Allows Tasker to add and remove history URIs. -->
  <!-- <uses-permission android:name=
	      "com.dolphin.browser.permission.WRITE_HISTORY" /> -->
  <!-- Allows Tasker to create a new tab. -->
  <!-- <uses-permission android:name=
	     "com.dolphin.browser.permission.MANAGE_TABS" /> -->
		  
  <application
	android:debuggable="true"
    android:icon="@drawable/dolphintasker"
    android:label="@string/app_name" >
    <activity
      android:label="@string/about"
      android:name=".ui.AboutActivity"/>
	<activity
      android:label="@string/info"
      android:name=".ui.InfoActivity" >
      <intent-filter >
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.INFO" />
      </intent-filter>
    </activity>
	<activity
      android:label="@string/event_edit"
      android:name=".ui.EventEditActivity" >
	  <intent-filter>
		<action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
	  </intent-filter>
    </activity>
    <service android:name=".DolphinTaskerService" >
	  <intent-filter>
	    <action android:name="com.dolphin.browser.action.addonservice" />
	  </intent-filter>
	  <meta-data 
	    android:name="dolphin_api_key"
	    android:value="No3djgN6IC2KXFUcMxI/JqH4UejbXcX6HYqFKrmpP66DmLWoAT+NNHFNHrzDKv4rOmJDAcBUSbWn8nrkVn6AyzpFI9pHFHJD4DGfgF4rbfDZu6OxKJCt4B6cvEQarwhq7T+Mb0ihhkgXHPpuQW/mrJxJY4M7A5b5pyU5x5gX8qo=" />
    </service>
	<receiver android:name=".QueryReceiver" >
	  <intent-filter>
		<action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
	  </intent-filter>
	</receiver>
  </application>
</manifest>
